<a href="https://colab.research.google.com/github/PJHSE/Class2022Spring/blob/main/20220328(%EA%B0%95%EB%82%A8%EC%97%AD%EC%B2%AB10%EA%B0%9C%EC%97%B4%EC%B0%A8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

Successfully installed aiohttp-3.8.1 aiosignal-1.2.0 analytics-python-1.4.0 anyio-3.5.0 asgiref-3.5.0 async-timeout-4.0.2 asynctest-0.13.0 backoff-1.10.0 bcrypt-3.2.0 cryptography-36.0.2 fastapi-0.75.0 ffmpy-0.3.0 frozenlist-1.3.0 gradio-2.9.0 h11-0.13.0 linkify-it-py-1.0.3 markdown-it-py-2.0.1 mdit-py-plugins-0.3.0 mdurl-0.1.0 monotonic-1.6 multidict-6.0.2 orjson-3.6.7 paramiko-2.10.3 pycryptodome-3.14.1 pydantic-1.9.0 pydub-0.25.1 pynacl-1.5.0 python-multipart-0.0.5 sniffio-1.2.0 starlette-0.17.1 uc-micro-py-1.0.1 uvicorn-0.17.6 yarl-1.7.2

In [5]:
URL = ('http://apis.data.go.kr/B553766/smt-schedule/schedule?serviceKey=5fCBE0vOLmG7sNcmr5Wictc6oXap0IiPVq4aNB8RHKLVAhyl2pgIYpUb9Z6hh%2BaD2V458FpxReLp0d%2BajKXang%3D%3D&numOfRows=10&pageNo=1&stationCode=0222&week=DAY&trainDirection=IN')
response = requests.get(URL)

In [7]:
response

#### http://jsonviewer.stack.hu/ (copy json here to view json)

In [9]:
r = response.json()
r

{'currentCount': 10,
 'data': [{'station_code': '0222',
   'station_line': '2',
   'station_name': '강남',
   'train_arrtime': '053530',
   'train_code': '2016',
   'train_departure': '삼성',
   'train_deptime': '053600',
   'train_destination': '성수',
   'train_direction': 'IN',
   'train_express': '0',
   'week': 'DAY'},
  {'station_code': '0222',
   'station_line': '2',
   'station_name': '강남',
   'train_arrtime': '055200',
   'train_code': '2022',
   'train_departure': '성수',
   'train_deptime': '055230',
   'train_destination': '성수',
   'train_direction': 'IN',
   'train_express': '0',
   'week': 'DAY'},
  {'station_code': '0222',
   'station_line': '2',
   'station_name': '강남',
   'train_arrtime': '060200',
   'train_code': '2026',
   'train_departure': '성수',
   'train_deptime': '060230',
   'train_destination': '성수',
   'train_direction': 'IN',
   'train_express': '0',
   'week': 'DAY'},
  {'station_code': '0222',
   'station_line': '2',
   'station_name': '강남',
   'train_arrtime': '060900',
   'train_code': '2028',
   'train_departure': '성수',
   'train_deptime': '060930',
   'train_destination': '성수',
   'train_direction': 'IN',
   'train_express': '0',
   'week': 'DAY'},
  {'station_code': '0222',
   'station_line': '2',
   'station_name': '강남',
   'train_arrtime': '061600',
   'train_code': '2030',
   'train_departure': '성수',
   'train_deptime': '061630',
   'train_destination': '성수',
   'train_direction': 'IN',
   'train_express': '0',
   'week': 'DAY'},
  {'station_code': '0222',
   'station_line': '2',
   'station_name': '강남',
   'train_arrtime': '062000',
   'train_code': '2032',
   'train_departure': '성수',
   'train_deptime': '062030',
   'train_destination': '성수',
   'train_direction': 'IN',
   'train_express': '0',
   'week': 'DAY'},
  {'station_code': '0222',
   'station_line': '2',
   'station_name': '강남',
   'train_arrtime': '062600',
   'train_code': '2036',
   'train_departure': '성수',
   'train_deptime': '062630',
   'train_destination': '성수',
   'train_direction': 'IN',
   'train_express': '0',
   'week': 'DAY'},
  {'station_code': '0222',
   'station_line': '2',
   'station_name': '강남',
   'train_arrtime': '063200',
   'train_code': '2038',
   'train_departure': '성수',
   'train_deptime': '063230',
   'train_destination': '성수',
   'train_direction': 'IN',
   'train_express': '0',
   'week': 'DAY'},
  {'station_code': '0222',
   'station_line': '2',
   'station_name': '강남',
   'train_arrtime': '063900',
   'train_code': '2042',
   'train_departure': '성수',
   'train_deptime': '063930',
   'train_destination': '성수',
   'train_direction': 'IN',
   'train_express': '0',
   'week': 'DAY'},
  {'station_code': '0222',
   'station_line': '2',
   'station_name': '강남',
   'train_arrtime': '064500',
   'train_code': '2044',
   'train_departure': '성수',
   'train_deptime': '064530',
   'train_destination': '성수',
   'train_direction': 'IN',
   'train_express': '0',
   'week': 'DAY'}],
 'numOfRows': '10',
 'pageNo': '1',
 'resultCode': 0,
 'resultMsg': '정상',
 'totalCount': 234}

In [10]:
items = r['data']

역사코드 = [item['station_code'] for item in items]
터미널 = [item['station_line'] for item in items]
역사명 = [item['station_name'] for item in items]
열차도착시간 = [item['train_arrtime'] for item in items]
열차코드 = [item['train_code'] for item in items]
열차행선지 = [item['train_departure'] for item in items]
열차출발시간 = [item['train_deptime'] for item in items]
열차목적지 = [item['train_destination'] for item in items]
내선외선 = [item['train_direction'] for item in items]
주중주말 = [item['week'] for item in items]

역사코드 = pd.Series(역사코드)
터미널 = pd.Series(터미널)   
역사명 = pd.Series(역사명)
열차도착시간 = pd.Series(열차도착시간)
열차코드 = pd.Series(열차코드)
열차행선지 = pd.Series(열차행선지)
열차출발시간 = pd.Series(열차출발시간)
열차목적지 = pd.Series(열차목적지)
내선외선 = pd.Series(내선외선)
주중주말 = pd.Series(주중주말)

df = pd.DataFrame({ 'station_code': 역사코드, 'station_line': 터미널, 'station_name': 역사명, 'train_arrtime': 열차도착시간, 'train_code': 열차코드, 'train_departure': 열차행선지, 'train_deptime': 열차출발시간, 'train_destination': 열차목적지,'train_direction': 내선외선, 'week': 주중주말})

In [11]:
df

,station_code,station_line,station_name,train_arrtime,train_code,train_departure,train_deptime,train_destination,train_direction,week
0,0222,2,강남,053530,2016,삼성,053600,성수,IN,DAY
1,0222,2,강남,055200,2022,성수,055230,성수,IN,DAY
2,0222,2,강남,060200,2026,성수,060230,성수,IN,DAY
3,0222,2,강남,060900,2028,성수,060930,성수,IN,DAY
4,0222,2,강남,061600,2030,성수,061630,성수,IN,DAY
5,0222,2,강남,062000,2032,성수,062030,성수,IN,DAY
6,0222,2,강남,062600,2036,성수,062630,성수,IN,DAY
7,0222,2,강남,063200,2038,성수,063230,성수,IN,DAY
8,0222,2,강남,063900,2042,성수,063930,성수,IN,DAY
9,0222,2,강남,064500,2044,성수,064530,성수,IN,DAY

In [23]:
def test(역출발첫10개열차정보):
  URL = ('http://apis.data.go.kr/B553766/smt-schedule/schedule?serviceKey=5fCBE0vOLmG7sNcmr5Wictc6oXap0IiPVq4aNB8RHKLVAhyl2pgIYpUb9Z6hh%2BaD2V458FpxReLp0d%2BajKXang%3D%3D&numOfRows=10&pageNo=1&stationCode=0222&week=DAY&trainDirection=IN')
  
  역사코드 = [item['station_code'] for item in items]
  터미널 = [item['station_line'] for item in items]
  역사명 = [item['station_name'] for item in items]
  열차도착시간 = [item['train_arrtime'] for item in items]
  열차코드 = [item['train_code'] for item in items]
  열차행선지 = [item['train_departure'] for item in items]
  열차출발시간 = [item['train_deptime'] for item in items]
  열차목적지 = [item['train_destination'] for item in items]
  내선외선 = [item['train_direction'] for item in items]
  주중주말 = [item['week'] for item in items]

  역사코드 = pd.Series(역사코드)
  터미널 = pd.Series(터미널)   
  역사명 = pd.Series(역사명)
  열차도착시간 = pd.Series(열차도착시간)
  열차코드 = pd.Series(열차코드)
  열차행선지 = pd.Series(열차행선지)
  열차출발시간 = pd.Series(열차출발시간)
  열차목적지 = pd.Series(열차목적지)
  내선외선 = pd.Series(내선외선)
  주중주말 = pd.Series(주중주말)

  df = pd.DataFrame({ '역사번호': 역사코드, '타는 곳': 터미널, '역명': 역사명, '열차도착시간': 열차도착시간, '열차번호': 열차코드, '열차행선지': 열차행선지, '열차출발시간': 열차출발시간, '열차목적지': 열차목적지,'내선외선': 내선외선, '주중(Day)주말(Weekend)': 주중주말})
  return df

In [24]:
iface = gr.Interface(test, gr.inputs.Dropdown(['강남역']), outputs=['dataframe'])
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://52593.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)

Keyboard interruption in main thread... closing server.

(<fastapi.applications.FastAPI at 0x7f2800375050>,
 'http://127.0.0.1:7860/',
 'https://52593.gradio.app')

Api 수정? 업글?